@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-wood-triangle {
  clip-path: polygon(50% 0, 0 100%, 100% 100%);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
